  <% if average_rating > 0 %>
  <div class="rating" data-rating="<%= average_rating %>">
    <i class="star-1">★</i>
    <i class="star-2">★</i>
    <i class="star-3">★</i>
    <i class="star-4">★</i>
    <i class="star-5">★</i>
  </div>
  <% else %>
    Pas encore noté
  <% end %>
