<h2><%= box.title %></h2>
<br>
<%= box.time_left %>
<br>
<br>
<%= link_to "Let's get into that box", box_path(box) %>

<% if box.can_be_openned_by?(current_user) %>
  <%= link_to "see box", box_path(box) %>
<% else %>
 <!--  TOO FAR -->
<% end %>
