<div class="map-container">
  <div class="wrapper">
    <div id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>

    <script type="text/javascript">
      var mapOptions = {zoom: 140};
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {mapOptions}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
      });

      refreshPosition();
      setInterval(function(){
        console.log("send GPS to /refresh_position");
        refreshPosition();
      }, 10 * 100000)

      function refreshPosition() {
        // get GPS
        navigator.geolocation.getCurrentPosition(function(location) {
          var lat = location.coords.latitude;
          var lng = location.coords.longitude;
          // send GPS to /refresh_position
          $.ajax({
            type: "POST",
            <% if Rails.env == "development" %>
            url: "http://localhost:3000/refresh_position",
            <% else %>
            url: "http://yobox.herokuapp.com/refresh_position",
            <% end %>
            data: { lat: lat, lng: lng },
            success: function(data){
              // receive new markers
              console.log('---')
              //console.log(data);
              // update markers
              // recenter map
            }
          });
        });
      }

    </script>

    <% end %>

  </div> <!-- end wrapper -->
</div> <!-- end map-container -->
