<div class="map-container">
  <div class="wrapper">
    <div id="map" style="width: 100%; height: 600px;"></div>
    <% content_for(:after_js) do %>

    <script type="text/javascript">
      var mapOptions = {zoom: 1400};
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {mapOptions}, internal: {id: 'map'}}, function(){
        markers_data = <%= raw @hash.to_json %>;
        markers = handler.addMarkers(markers_data);

        _.each(markers, function(marker){
          google.maps.event.addListener(marker.getServiceObject(), 'click', function(){
            var box_id = marker.serviceObject.title;
            navigator.geolocation.getCurrentPosition(function(location) {
              // 44.8425698, -0.5697464999999999
              var lat = location.coords.latitude;
              var lng = location.coords.longitude;
              $.ajax({
                method: "POST",
                url: "http://localhost:3000/boxes/" + box_id + "/preview",
                data: { "lat": lat, "lng": lng },
                success: function(data) {
                  var infowindow = new google.maps.InfoWindow({content: data});
                  infowindow.open( handler.getMap(), marker.getServiceObject());
                }
              });
            });
          });
        });

        handler.bounds.extendWith(markers);
        console.log("INITIAL>");
        console.log(markers);
        handler.fitMapToBounds();
      });

      // refreshPosition();
      // setInterval(function(){
      //   console.log("send GPS to /refresh_position");
      //   refreshPosition();
      // }, 15 * 1000) // 10*1000=prod sinon 10*10000

      // function refreshPosition() {
      //   // get GPS
      //   navigator.geolocation.getCurrentPosition(function(location) {
      //     // 44.8425698, -0.5697464999999999
      //     var lat = location.coords.latitude;
      //     var lng = location.coords.longitude;
      //     // send GPS to /refresh_position
      //     $.ajax({
      //       type: "POST",
      //       <% if Rails.env == "development" %>
      //       url: "http://localhost:3000/refresh_position",
      //       <% else %>
      //       url: "http://yobox.herokuapp.com/refresh_position",
      //       <% end %>
      //       data: { lat: lat, lng: lng },
      //       success: function(new_markers_data){
      //         updateMarkers(handler, new_markers_data, markers_data);
      //       }
      //     });
      //   });
      // }

    </script>

    <% end %>

  </div> <!-- end wrapper -->
</div> <!-- end map-container -->
