<div class="map-container">
  <div class="wrapper">
    <div id="map" style="width: 100%; height: 600px;"></div>
    <% content_for(:after_js) do %>

    <script type="text/javascript">
      var mapOptions = {zoom: 14};
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {mapOptions}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
      });

      refreshPosition();
      setInterval(function(){
        console.log("send GPS to /refresh_position");
        refreshPosition();
      }, 10 * 10000) // 10*1000=prod sinon 10*10000

      function refreshPosition() {
        // get GPS
        navigator.geolocation.getCurrentPosition(function(location) {
          var lat = location.coords.latitude;
          var lng = location.coords.longitude;
          // send GPS to /refresh_position
          $.ajax({
            type: "POST",
            <% if Rails.env == "development" %>
            url: "http://localhost:3000/refresh_position",
            <% else %>
            url: "http://yobox.herokuapp.com/refresh_position",
            <% end %>
            data: { lat: lat, lng: lng },
            success: function(data){
              console.log('- data received -')
              handler.getMap().setZoom(1000);
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
            }
          });
        });
      }

    </script>

    <% end %>

  </div> <!-- end wrapper -->
</div> <!-- end map-container -->
