<div class="map-container">
  <div class="wrapper">
    <div id="map" style="width: 100%; height: 600px;"></div>
    <% content_for(:after_js) do %>

    <script type="text/javascript">
    navigator.geolocation.getCurrentPosition(function(location) {
      var lat = location.coords.latitude;
      var lng = location.coords.longitude;
      console.log("lat..." + lat);
      console.log("lng..." + lng);
      var infowindow = null;
      $.ajax({
        type: "POST",
        <% if Rails.env == "development" %>
        url: "http://localhost:3000/refresh_position",
        <% else %>
        url: "https://yobox.herokuapp.com/refresh_position",
        <% end %>
        data: { lat: lat, lng: lng },
        success: function(data){
          console.log("Data recue : " + data);

          // ------------------
          var styles = [{"featureType":"administrative","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#519c2f"},{"gamma":"1.27"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#e4bd2e"},{"weight":"3.14"},{"gamma":"1.58"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"weight":"0.38"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#f28a17"}]},{"featureType":"transit.station.airport","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#f4c902"},{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"labels.text.fill","stylers":[{"color":"#a11212"},{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"labels.text.stroke","stylers":[{"color":"#ff7676"},{"weight":"0.69"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#13646e"}]}];
          var mapOptions = {
            styles: styles
          };

          handler = Gmaps.build('Google');
          handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
            markers_data = data;
            console.log("markers = " + markers_data);
            console.log("lat..." + lat + " lng..." + lng);

            circleOptions = new google.maps.Circle ({
              center: {lat: lat, lng: lng},
              radius: 300,
              fillColor: "#32cd32",
              fillOpacity: 0.2,
              strokeOpacity: 0,
              map: handler.getMap()
            }); // radius in meters

            markers = handler.addMarkers(markers_data);

            _.each(markers, function(marker){
              google.maps.event.addListener(marker.getServiceObject(), 'click', function(){
                var box_id = marker.serviceObject.title;
                if (infowindow) {
                  infowindow.close();
                }
                $.ajax({
                  method: "POST",
                  <% if Rails.env == "development" %>
                  url: "http://localhost:3000/boxes/" + box_id + "/preview",
                  <% else %>
                  url: "https://youmanbox.herokuapp.com/boxes/" + box_id + "/preview",
                  <% end %>
                  data: { "lat": lat, "lng": lng },
                  success: function(data) {
                    infowindow = new google.maps.InfoWindow({content: data});
                    infowindow.open( handler.getMap(), marker.getServiceObject());
                    google.maps.event.addListener(infowindow, 'domready', function() {
                      countdown("#" + $(data).first().attr("id"));
                    });
                  }
                });
              });
            });
            handler.bounds.extendWith(markers);
            console.log("INITIAL>");
            console.log(markers);
            handler.fitMapToBounds(); // force zoom among boxes
            handler.getMap().setZoom(15);
            handler.getMap().setCenter({lat: lat, lng: lng});
          });
        }
      });
    });

    </script>

    <% end %>

  </div> <!-- end wrapper -->
</div> <!-- end map-container -->
