<div class="map-container">
  <div class="wrapper">
    <div id="map" style="width: 100%; height: 600px;"></div>
    <% content_for(:after_js) do %>

    <script type="text/javascript">
    navigator.geolocation.getCurrentPosition(function(location) {
      var lat = location.coords.latitude;
      var lng = location.coords.longitude;
      console.log("lat..." + lat);
      console.log("lng..." + lng);
      $.ajax({
        type: "POST",
        <% if Rails.env == "development" %>
        url: "http://localhost:3000/refresh_position",
        <% else %>
        url: "http://yobox.herokuapp.com/refresh_position",
        <% end %>
        data: { lat: lat, lng: lng },
        success: function(data){
          console.log("Data recue : " + data);

          // TO DO : debugger l'affichage des options (qui ne s'affichent pas)
          // ------------------
          var mapOptions = {styles: [{"featureType":"administrative","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#519c2f"},{"gamma":"1.27"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#e4bd2e"},{"weight":"3.14"},{"gamma":"1.58"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"weight":"0.38"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#f28a17"}]},{"featureType":"transit.station.airport","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#f4c902"},{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"labels.text.fill","stylers":[{"color":"#a11212"},{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"labels.text.stroke","stylers":[{"color":"#ff7676"},{"weight":"0.69"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#13646e"}]}]};
          // ------------------

          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {mapOptions}, internal: {id: 'map'}}, function(){
            markers_data = data;
            console.log("markers = " + markers_data);
            console.log("lat..." + lat + " lng..." + lng);

            // TO DO : debugger l'affichage du cercle (lng+lat+radius:ok mais params:?)
            // ------------------
            circle = ({ lng: lng, lat: lat, radius: 1000, strokeColor: "#FFFFFF", strokeOpacity: 100, fillColor: "#32cd32", fillOpacity: 100 }); // 1000=radius in m
            handler.addCircle(circle);
            // ------------------

            markers = handler.addMarkers(markers_data);

            _.each(markers, function(marker){
              google.maps.event.addListener(marker.getServiceObject(), 'click', function(){
                var box_id = marker.serviceObject.title;
                navigator.geolocation.getCurrentPosition(function(location) {
                  // 44.8425698, -0.5697464999999999
                  var lat = location.coords.latitude;
                  var lng = location.coords.longitude;
                  $.ajax({
                    method: "POST",
                    url: "http://localhost:3000/boxes/" + box_id + "/preview",
                    data: { "lat": lat, "lng": lng },
                    success: function(data) {
                      var infowindow = new google.maps.InfoWindow({content: data});
                      infowindow.open( handler.getMap(), marker.getServiceObject());
                    }
                  });
                });
              });
            });
            handler.bounds.extendWith(markers);
            console.log("INITIAL>");
            console.log(markers);
            handler.fitMapToBounds(); // force zoom among boxes
            handler.getMap().setZoom(14);
          });
        }
      });
    });

      // refreshPosition();
      // setInterval(function(){
      //   console.log("send GPS to /refresh_position");
      //   refreshPosition();
      // }, 15 * 1000) // 10*1000=prod sinon 10*10000

      // function refreshPosition() {
      //   // get GPS
      //   navigator.geolocation.getCurrentPosition(function(location) {
      //     // 44.8425698, -0.5697464999999999
      //     var lat = location.coords.latitude;
      //     var lng = location.coords.longitude;
      //     // send GPS to /refresh_position
      //     $.ajax({
      //       type: "POST",
      //       <% if Rails.env == "development" %>
      //       url: "http://localhost:3000/refresh_position",
      //       <% else %>
      //       url: "http://yobox.herokuapp.com/refresh_position",
      //       <% end %>
      //       data: { lat: lat, lng: lng },
      //       success: function(new_markers_data){
      //         updateMarkers(handler, new_markers_data, markers_data);
      //       }
      //     });
      //   });
      // }

    </script>

    <% end %>

  </div> <!-- end wrapper -->
</div> <!-- end map-container -->
