<div class="map-container">
  <div class="wrapper">

    <div id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <script>
        $(document).on('ready', function() {

          navigator.geolocation.getCurrentPosition(function(location)
          {
            var $lat = location.coords.latitude;
            var $lng = location.coords.longitude;

            var mapOptions = {
              center: new google.maps.LatLng($lat, $lng),
              zoom: 15,
              styles: [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}]
            };

            var handler = Gmaps.build('Google');
            handler.buildMap( { provider: mapOptions, internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
            });

          }); <!-- fin du navigator.geolocation -->

        }); <!-- fin du document.ready -->
      </script>
    <% end %>


  </div> <!-- end wrapper -->
</div> <!-- end map-container -->







