<div class="map-container">
  <div class="wrapper">

    <div id="map" style="width: 100%; height: 600px;"></div>

    <% content_for(:after_js) do %>
      <script>
        $(document).on('ready', function() {

          navigator.geolocation.getCurrentPosition(function(location)
          {
            var $lat = location.coords.latitude;
            var $lng = location.coords.longitude;

            var mapOptions = {
              center: new google.maps.LatLng($lat, $lng),
              zoom: 14,
              styles: [{"featureType":"administrative","elementType":"labels.text","stylers":[{"visibility":"on"}]},{"featureType":"administrative.province","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"poi.attraction","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#519c2f"},{"gamma":"1.27"}]},{"featureType":"poi.park","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#e4bd2e"},{"weight":"3.14"},{"gamma":"1.58"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"weight":"0.38"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#f28a17"}]},{"featureType":"transit.station.airport","elementType":"all","stylers":[{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#f4c902"},{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"labels.text.fill","stylers":[{"color":"#a11212"},{"visibility":"on"}]},{"featureType":"transit.station.airport","elementType":"labels.text.stroke","stylers":[{"color":"#ff7676"},{"weight":"0.69"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#13646e"}]}]
            };

            var handler = Gmaps.build('Google');
            handler.buildMap( { provider: mapOptions, internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
            });

          }); <!-- fin du navigator.geolocation -->

        }); <!-- fin du document.ready -->
      </script>
    <% end %>


  </div> <!-- end wrapper -->
</div> <!-- end map-container -->







