
<div class="container general-padding text-center ">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h1>What is Youmanbox?</h1>

        <p>Youmanbox is a space where you can share without vanity; a vector of generosity and genuine interest.
        On Youmanbox you’ll find emotions and thoughts that people leave for strangers to discover.
        We localise these thoughts because we believe that our environment influences us, so you need to be in the same place as the creator to understand fully.
        Simply type your thought, give it a title, a life expectancy, and drop it where you are. People around you will be able to read it in the same environment as you!

        We Hope you enjoy our Website as much as we enjoyed creating it.

        The developpement team

        Youmanbox came about when a group of enthusiast “le Wagon” students had the opportunity to create anything they wanted, without constraints.
        </p>
        <%= link_to "Go back to Map", root_path, class: "btn btn-primary btn-lg btn-block" %>
     </div>
  </div>
</div>
