// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cancel-my-account {
  text-align: right;
}

.card {
  height: 100px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-color: #0037ff;
  opacity: 0.7;
  color: white;
  position: relative;
  border: 1px solid #1993DA;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card-user {
  position: absolute;
  right: 7px;
  top: 7px;
}
.card-category {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 14px;
}
.card-description {
  line-height: 80%;
  position: absolute;
  bottom: 7px;
  left: 7px;
}
.card-description h2 {
  font-size: 12px;
}
.card-description p {
  font-size: 8px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
